body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: yellowgreen;
}

.container {
  background-color: aliceblue;
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  position: relative;
}

/*  */
.emoji-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  font-size: 50px;
  background-color: yellow;
  display: flex;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  /* overflow: hidden; */
}

.space {
  /* margin: 1px; */
  /* transform: translateX(-50px); */
}

.rating-container {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.fa-star {
  color: lightslategrey;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  /* transform: translateX(-50px); */
}

.active {
  transition: 200ms;
  color: gold;
}
